h1 a{
    color: #e4d1b0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.7rem;
}
h1 a:hover {
    color: #e4d1b0;
    text-decoration: none;
}
.navbar-light .navbar-toggler {
    border: none;
}