{% extends 'base.html.twig' %}
{% block body %}

<div class="error">
    <h1 style="margin-bottom: 2rem;">404 NOT FOUND</h1>
    <a href="{{ path('homepage') }}">Retour à l'accueil</a>
</div>

{% endblock %}