
{% extends 'base.html.twig' %}

{% block body %}
<div id="row-legal"  class="row row row-cols-1">
    <h2 style="text-align: center;">MENTIONS LÉGALES</h2>
    <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : www.cynes.fr les informations suivantes :<br>
        <br>
    <h3>ÉDITEUR</h3><br>
    Le site www.cynes.fr est la propriété exclusive de Auto-entrepreneur Madame Inès Tehami, qui l'édite.<br>
    Auto-entrepreneur : Madame Inès Tehami<br>
    1 Quater avenue Chiris 06130 GRASSE - Tél : 0669567444<br>
    Immatriculée sous le numéro SIREN : 850933136<br>
    Immatriculée sous le numéro SIRET : 85093313600028<br>
    Adresse de courrier électronique : <a href="mailto:contact@cynes.fr">contact@cynes.fr</a><br>
    Directeur de la publication : Inès Tehami<br>
    Contactez le responsable de la publication : <a href="mailto:contact@cynes.fr">contact@cynes.fr</a><br>
    <br>
    <h3>HÉBERGEMENT</h3><br>
    Le site est hébergé par AWS Amazon Web Services, Inc.
    <br>
    <br>
    <h3>CONFIDENTIALITÉ</h3>
    Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution de la prestation.<br>
    <br>
    <h3>PROPRIÉTÉ INTELLECTUELLE</h3>
    Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de Madame Inès Philippart à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.
    Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de Madame Inès Philippart. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.3335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.<br>
    Madame Inès est identiquement propriétaire des "droits des producteurs de bases de données" visés au Livre III, Titre IV, du Code de la Propriété Intellectuelle (loi n° 98-536 du 1er juillet 1998) relative aux droits d'auteur et aux bases de données.<br>
    Pour toute demande d'autorisation ou d'information, veuillez nous contacter par email : <a href="mailto:contact@cynes.fr">contact@cynes.fr</a><br>
    <br>
    <h3>CONTACTEZ-NOUS</h3>
    CYNES est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous écrire par courrier électronique à : <a href="mailto:contact@cynes.fr">contact@cynes.fr</a></p>
</div>
{% endblock %}